/* Colors
/* ----------------------------- */

$brand-primary: #337ab7;
$brand-info:    #5bc0de;


/* Typography
/* ----------------------------- */

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif