/* Colors
/* ----------------------------- */

$brand-primary: #d21f31;
$brand-secondary: #01a8bb;
$brand-alert: $brand-primary;
$brand-gray-1: #dfdfdf ;
$brand-gray-2: #69737a;
$brand-gray-3: #f8f8f8;
$white: #fff;
$black: #000;

$brand-text-hover: $brand-primary;
$icon-box-color: $brand-secondary;
$icon-box-hover-color: darken($brand-secondary, 15%);

//lights
$lights-red: #c50000;
$lights-yellow: #e9dc07;
$lights-green: #057c29;
$lights-disabled: #f4c7cb;


// Styleguide
$sg-gray: #ddd;

/* Widths
/* ----------------------------- */

$bodyMinWidth: 320px;
$containerMaxWidth: 1170px;

$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;

/* Typography
/* ----------------------------- */

$font-family-sans-serif: "AktivGrotesk", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-base-size-px: 10px;

/* Boxes
/* ----------------------------- */

$boxShadowDefault: 1px 1px 4px rgba(0, 0, 0, 0.2);

/* Animations
/* ----------------------------- */

$transitionTiming: ease-out;
$transitionFast: .3s;
$transitionSlow: .8s;


/* inputs
/* ----------------------------- */

$input-height: 40px;
$input-line-height: 4.0rem;
$button-height: $input-height;
$button-width: $input-height;
$button-line-height: ($input-line-height - 0.2rem);