<h2>{{ 'PROFILE_HEADLINE' | translate }}</h2>

<div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="field-container text-field">
                        <input type="password" name="name" value="" placeholder="Change password">
                        <button class="clear-submit">
                            <span class="icon-close"></span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-6 remove-margin-bottom">
                    <div class="row">
                        <div class="field-container text-field">
                            <input type="password" name="name" value="" placeholder="Repeat password">
                            <button class="clear-submit">
                                <span class="icon-close"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                    <button class="button color pull-right">
                        <span>set password</span>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <select class="full-width-element">
                        <option value="1">english</option>
                        <option value="2">français</option>
                        <option value="3">deutsch</option>
                    </select>
                </div>
                <div class="col-sm6"></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label>
                        <i class="icon-class "></i>
                        Assigned Roles:
                    </label>
                    <table class="data-table">
                        <tr>
                            <td>shipper</td>
                        </tr>
                        <tr>
                            <td>manager</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm6"></div>
            </div>
        </div>
