<h2>{{ 'PROFILE_HEADLINE' | translate }}</h2>

<div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="field-container text-field">
                        <input type="password" name="password" [(ngModel)]="password" placeholder="{{'PASSWORD_CHANGE' | translate}}">
                        <button class="clear-submit">
                            <span class="icon-close"></span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-6 remove-margin-bottom">
                    <div class="row">
                        <div class="field-container text-field">
                            <input type="password" name="password-repeated" [(ngModel)]="passwordRepeated" placeholder="{{'PASSWORD_REPEAT' | translate}}">
                            <button class="clear-submit">
                                <span class="icon-close"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                    <button class="button color pull-right"
                            (click)="setPasswordClicked()">
                        <span>{{'PASSWORD_SET_BUTTON' | translate}}</span>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <select class="dropdown-menu" id="active-culture" [(ngModel)]="SelectedOption">
                        <option *ngFor="let kv of comboBoxItems" value="{{kv.Key}}">{{kv.Value}}</option>
                    </select>
                </div>
                <div class="col-sm6"></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label>
                        <i class="icon-class "></i>
                        {{'ASSIGNED_ROLES_HEADER' | translate}}
                    </label>
                    <table class="data-table">
                        <tr *ngFor="let role of roles" >
                            <td>{{role.RoleName}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm6"></div>
            </div>
        </div>
