node_modules/
.idea/
typings/
*.iml
npm-debug.log
app/
assets/css
assets/js
app.zip
.vscode/
.vs/
/npm-debug.log.645362280
/npm-debug.log.4164873726
/npm-debug.log.2941596722
/npm-debug.log.1881669368
/npm-debug.log.1577279694
/npm-debug.log.132068834
/obj/Debug
/src/common/Base64Extension.js.map
/src/common/Base64Extension.js
