<div class="row">
    <div class="col-md-12 col-sm-12">
        <label style="width: 250px; height: 18px;">{{ 'ADMINISTRATION_SETTINGS_HEAD_BALANCE_WARNING_LEVEL' | translate }}</label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="field-container text-field">
            <input type="text"
                   name="name-balance-warning-level"
                   [(ngModel)]="balanceWarningLevel"
                   placeholder="{{ 'ADMINISTRATION_SETTINGS_HEAD_BALANCE_WARNING_LEVEL' | translate }}"
                   (change)="notifyBalanceWarningLevel.emit(balanceWarningLevel);"
                   [disabled]="!isInEditMode">
            <button class="clear-submit">
                <span class="icon-close"></span>
            </button>
        </div>
    </div>
</div>