<div class="row">
    <div class="col-md-12 col-sm-12">
        <label style="width: 250px; height: 18px;">{{ 'ADMINISTRATION_SETTINGS_HEAD_NUMBER_OF_COST_ACCOUNT_LEVELS' | translate }}</label>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <select class="dropdown-menu" id="account-levels" [(ngModel)]="SelectedOption" [disabled]="!isInEditMode">
            <option *ngFor="let kv of comboBoxItems" value="{{kv.Key}}">{{kv.Value}}</option>
        </select>
    </div>

    <div class="col-md-4 col-md-offset-1 col-sm-12 voffset-sm-15">
        <div class="field-container text-field" id="level1">
            <input type="text"
                   name="name-level-1"
                   [(ngModel)]="costCenterLevelOneName"
                   placeholder="{{ 'NAME_OF_LEVEL' | translate }} 1"
                   (change)="notifyCostCenterLevelOneName.emit(costCenterLevelOneName);"
                   [disabled]="!isInEditMode">
            <button class="clear-submit">
                <span class="icon-close"></span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-5 col-sm-12">
        <div class="field-container text-field" id="level2">
            <input type="text"
                   name="name-level-2"
                   [(ngModel)]="costCenterLevelTwoName"
                   placeholder="{{ 'NAME_OF_LEVEL' | translate }} 2"
                   (change)="notifyCostCenterLevelTwoName.emit(costCenterLevelTwoName);"
                   [disabled]="!isInEditMode">
            <button class="clear-submit">
                <span class="icon-close"></span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-5 col-sm-12">
        <div class="field-container text-field" id="level3">
            <input type="text"
                   name="name-level-3"
                   [(ngModel)]="costCenterLevelThreeName"
                   placeholder="{{ 'NAME_OF_LEVEL' | translate }} 3"
                   (change)="notifyCostCenterLevelThreeName.emit(costCenterLevelThreeName);"
                   [disabled]="!isInEditMode">
            <button class="clear-submit">
                <span class="icon-close"></span>
            </button>
        </div>
    </div>
</div>