// Box Icon
// -------------------------------------

.box-icon {
  float: left;

  & + .box-icon {
    margin-left: 15px;
  }

  button {
    border: 1px solid $icon-box-color;
    font-size: 1.7rem;
    line-height: $input-line-height;
    background: $white;
    width: $button-width;
    height: $button-height;
    position: relative;
    border-radius: $boxBorderRadius;
    transition: all $transitionFast $transitionTiming;

    [class^='icon-']::before,
    [class*='icon-']::before {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      left: 10px;
      color: $icon-box-color;
      line-height: $button-line-height;
      font-size: 1.7rem;
      transition: color $transitionFast $transitionTiming;
    }

    &:hover {
      border: 1px solid $icon-box-hover-color;
      box-shadow: $boxShadowDefault;

      [class^='icon-']::before,
      [class*='icon-']::before {
        color: $icon-box-hover-color;
      }
    }

    @include mobile {
      margin: 0 0 15px 0;
    }
  }
}

.box-info {
  background: $white;
  margin-left: 40px;
  padding: 10px;
  width: 285px;
  float: left;

  span {
    font-size: 1.7rem;
    line-height: 2.0rem;
  }

  hr {
    margin: 5px 0;
  }

  @include desktop-large {
    width: 365px;
  }

  @include tablet {
    width: 497px;
  }

  @include mobile {
    margin: 0 0 15px 0;
    width: 100%;
  }
}

.box-option {
  @extend .box-info;
  background: none;
}

.box-package {
  background: $white;
  margin-left: 40px;
  padding: 10px;
  width: 412px;
  position: relative;
  border: 1px solid $brand-secondary;
  text-align: left;
  transition: all $transitionFast $transitionTiming;
  border-radius: $boxBorderRadius;

  &:hover {
    box-shadow: $boxShadowDefault;
    border-color: $icon-box-hover-color;
  }

  &:disabled {
    box-shadow: none;
    border-color: $brand-secondary;
    background: $brand-gray-1;
  }

  span {
    display: block;
    font-size: 1.7rem;
    line-height: 2.0rem;
    position: relative;

    &.price {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  @include desktop-large {
    width: 515px;
  }

  @include tablet {
    width: 497px;
  }

  @include mobile {
    margin: 0 0 15px 0;
    width: 100%;
  }
}

.box-summery {
  background: $white;
  margin-left: 40px;
  padding: 10px;
  width: 260px;
  float: left;
  position: relative;

  table {
    font-size: 1.7rem;
    line-height: 2.0rem;

    tr {
      td {
        width: 140px;
        padding: 2px 0;

        &:nth-child(2) {
          text-align: right;
          width: 100px;
        }
      }

      &:last-child {
        td {
          padding-top: 10px;
          border-top: 1px solid $brand-gray-2;
          font-weight: 700;
        }
      }
    }
  }

  @include tablet {
    width: 410px;

    table tr td {
      width: 310px;

      &:nth-child(2) {
        width: 100px;
      }
    }
  }

  @include mobile {
    margin: 0 0 15px 0;
    width: 100%;

    table tr td {
      width: 75%;
    }
  }
}

.summery-container {
  float: left;
  width: 300px;

  @include tablet {
    width: 450px;
  }

  @include mobile {
    margin: 0 0 15px 0;
    width: 100%;
  }
}

.submit-container {
  float: left;
  width: 140px;
  margin-left: 15px;

  @include desktop-large {
    width: 180px;
    margin-left: 75px;
  }

  @include tablet {
    width: 200px;
    margin-left: 70px;
  }

  @include mobile {
    margin: 0 0 15px 0;
    float: none;
    width: 100%;
  }
}

.box-lights {
  margin: 33px 0 15px;
  padding-left: 35px;
  height: 30px;

  @include desktop-large {
    margin: 33px 0 15px;
    padding-left: 75px;
  }

  @include tablet {
    margin: 33px 0 15px;
    padding-left: 95px;
  }

  @include mobile {
    display: inline-block;
  }

  i.icon-class:before {
    padding-right: 0;
  }

  .color {
    margin: 5px 10px 5px 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    float: left;

    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.20) inset;
    background: $lights-disabled;

    &:last-child {
      margin-right: 0;
    }
  }

  .red {
    &.active {
      background: $lights-red;
    }
  }

  .yellow {
    &.active {
      background: $lights-yellow;
    }
  }

  .green {
    &.active {
      background: $lights-green;
    }
  }

  @include mobile {
    margin: 0 0 15px 0;
    padding: 0;
    float: none;
    width: 100%;
  }
}

.box-error {
  position: relative;
  width: 100%;
  border: 2px solid $brand-primary;
  background: $white;
  font-size: 1.7rem;
  line-height: 2.0rem;
  color: $brand-primary;

  .content {
    padding: 20px 40px 20px 20px;
  }

  .clear-submit {
    right: 10px;
  }
}

// Info Popup
// -------------------------------------
.show-info {
  position: relative;
}

.hide-info {
  display: none;
  padding: 10px;
  width: 300px;
  position: absolute;
  top: 30px;
  left: -270px;
  z-index: 100;
  background: $white;
  border: 1px solid $brand-gray-1;
  border-radius: $boxBorderRadius;
  box-shadow: $boxShadowDefault;

  p {
    margin: 0;
  }

  &.show {
    display: block;
  }

  @include mobile {
    left: - 76px;
  }
}