/* button
/* ----------------------------- */

.button {
    border: 1px solid $icon-box-color;
    position: relative;
    border-radius: $boxBorderRadius;
    transition: all $transitionFast $transitionTiming;
    display: block;
    float: left;
    margin-left: 15px;
    padding: 0 3px;
    overflow: hidden;
    text-align: center;
    background: $icon-box-color;
    color: $white;
    &:hover {
        border: 1px solid $icon-box-hover-color;
        text-decoration: none;
        background: $icon-box-hover-color;
        box-shadow: $boxShadowDefault;
    }
    @include mobile {
        width: 100%;
        float: none;
        margin: 0 0 15px 0;
    }
    span {
        display: table-cell;
        vertical-align: middle;
        font-size: 1.7rem;
        line-height: 2.0rem;
        width: 1000px;
        height: $input-height;
    }
    &.submit {
        height: 71px;
        width: 140px;
        margin-left: 0;
        @include desktop-large {
            width: 180px;
        }
        @include tablet {
            width: 200px;
        }
        @include mobile {
            width: 100%;
            float: none;
            margin: 0 0 15px 0;
        }
        &:disabled {
            background: $brand-gray-1;
            border-color: $brand-gray-2;
            color: $brand-gray-2;
            &:hover {
                text-decoration: none;
                background: $brand-gray-1;
                border-color: $brand-gray-2;
                box-shadow: none;
            }
        }
    }
    &.color {
        height: 71px;
        width: 115px;
        @include desktop-large {
            width: 135px;
        }
        @include tablet {
            width: 168px;
        }
        @include mobile {
            width: 100%;
            float: none;
            margin: 0 0 15px 0;
        }
        &:disabled {
            background: $brand-gray-1;
            border-color: $brand-gray-2;
            color: $brand-gray-2;
            &:hover {
                text-decoration: none;
                background: $brand-gray-1;
                border-color: $brand-gray-2;
                box-shadow: none;
            }
        }
    }
    &.shortcut {
        height: $input-height;
        width: 60px;
        background: $white;
        color: $icon-box-color;
        &:first-child {
            margin-left: 40px;
        }
        &:hover {
            border: 1px solid $icon-box-hover-color;
            color: $icon-box-hover-color;
            text-decoration: none;
            background: $white;
            box-shadow: $boxShadowDefault;
        }
        &:disabled {
            background: $brand-gray-1;
            border-color: $brand-gray-2;
            &:hover {
                text-decoration: none;
                background: $brand-gray-1;
                border-color: $brand-gray-2;
                box-shadow: none;
                color: $icon-box-color;
            }
        }
        &.placeholder,
        &.placeholder:disabled {
            background: none;
            color: $brand-gray-2;
            border: 1px dotted $brand-gray-2;
            border-radius: 5px;
            &:hover {
                text-decoration: none;
                box-shadow: none;
            }
        }
        span {
            font-size: 1.2rem;
            line-height: 1.4rem;
        }
        @include desktop-large {
            width: 80px;
        }
        @include tablet {
            width: 113px;
        }
        @include mobile {
            width: 100%;
            float: none;
            margin: 0 0 15px 0;
            &:first-child {
                margin: 0 0 15px 0;
            }
        }
    }
    &.wide {
        position: absolute;
        bottom: 0;
        height: 71px;
        width: 100%;
        margin-left: 0;
        @include desktop-large {}
        @include tablet {
            margin: 0 0 15px 0;
            position: static;
            bottom: initial;
        }
        @include mobile {
            margin: 0 0 15px 0;
            position: static;
            bottom: initial;
        }
        &:disabled {
            background: $brand-gray-1;
            border-color: $brand-gray-2;
            color: $brand-gray-2;
            &:hover {
                text-decoration: none;
                background: $brand-gray-1;
                border-color: $brand-gray-2;
                box-shadow: none;
            }
        }
    }
    &.popup {
        width: 100px;
        height: $input-height;
        &:first-child {
            margin-left: 0;
        }
        &:disabled {
            background: $brand-gray-1;
            border-color: $brand-gray-2;
        }
        @include mobile {
            width: 100px;
            float: left;
            margin-left: 15px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

// icon-button
.icon-button {
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    float: left;
    background-color: $brand-gray-3;
    &:before {
        color: brand-gray-2;
    }
    &:hover {
        color: darken($brand-gray-2, 15%);
    }
}

.small-icon-button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    float: left;
    background-color: inherit;
    &:before {
        color: brand-gray-2;
    }
    &:hover {
        color: darken($brand-gray-2, 15%);
    }
}