/* Inputs
/* ----------------------------- */

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="search"] {
  width: 100%;
  outline: none;
  height: $input-height;
  border: 1px solid $brand-gray-1;
  font-size: 1.7rem;
  line-height: $input-line-height;
  color: $brand-gray-2;
  padding: 0 40px 0 10px;
  background: $white;
}

/* small-input fields
/* ----------------------------- */
.small-input {
  .text-field {
    width: 30%;
    float: left;
    margin-right: 18px;

    &:last-child {
      margin: 0;
    }
  }

  @include desktop-large {
    .text-field {
      margin-right: 20px;
    }
  }

  @include tablet {
    .text-field {
      width: 31%;
      margin-right: 15px;
    }
  }
}

/* field
/* ----------------------------- */
.text-field {
  margin: 0;
  position: relative;
  width: 100%;
}

.text-field-search {
  margin: 0;
  position: relative;
  width: 100%;

  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="email"],
  input[type="number"],
  input[type="search"] {
    padding-left: 40px;
  }
}

.search-submit {
  position: absolute;
  top: 0;
  left: 15px;
  background: none;
  border: none;
  padding: 0;
  height: $input-height;

  [class^="icon-"]::before,
  [class*=" icon-"]::before {
    color: $brand-gray-2;
    line-height: $input-line-height;
    font-size: 1.7rem;
    padding: 0;
    margin: 0;
  }
}

.clear-submit {
  position: absolute;
  top: 0;
  right: 15px;
  background: none;
  border: none;
  padding: 0;
  height: $input-height;

  [class^="icon-"]::before,
  [class*=" icon-"]::before {
    color: $brand-alert;
    line-height: $input-line-height;
    font-size: 1.7rem;
    padding: 0;
    margin: 0;
  }
}


/* labeling
/* ----------------------------- */
label {
  height: $input-height;
  font-size: 1.7rem;
  line-height: $input-line-height;
  float: left;
  width: 150px;

  .icon-class {
    &:before {
      font-size: 1.8rem;
      padding-right: 0;
    }
  }

  & + .text-field-search,
  & + .text-field {
    width: 140px;
    margin-left: 15px;
    float: left;
  }

  @include desktop-large {
    & + .text-field-search,
    & + .text-field {
      width: 240px;
    }
  }

  @include tablet {
    & + .text-field-search,
    & + .text-field {
      width: 405px;
    }
  }
}

/* autocomplete
/* ----------------------------- */
.autocomplete {
  position: absolute;
  left: 0;
  display: none;
  z-index: 2;
  width: 100%;

  ul {
    background: $brand-gray-1;
    padding: 0 15px;
    width: 100%;

    li {
      text-align: left;
      height: 30px;
      font-size: 1.7rem;
      line-height: 3.0rem;
      border-bottom: 1px solid $brand-gray-2;

      &:last-child {
        border: none;
      }
    }
  }

  &.open {
    display: block;
  }
}