/* Header
/* ----------------------------- */

.main-header {
  width: 100%;
  min-width: $bodyMinWidth;
  background: $white;
  transition: box-shadow $transitionFast $transitionTiming;
  box-shadow: $boxShadowDefault;
  padding-top: 20px;

  .container {
    transition: padding ($transitionFast / 2) $transitionTiming;
  }

  .row {
    position: relative;
    margin: 0;
  }
}

/* Brand
/* ----------------------------- */

.brand {
  transition: all $transitionFast $transitionTiming;
  width: 130px;
  float: left;
}


/* deco container
/* ----------------------------- */
.deco-container {
  background: #56a2b7;
  background: linear-gradient(to right,  #56a2b7 0%,#396071 100%);
  height: 40px;
  width:100%;
}