/* Global
/* ----------------------------- */

html {
  font-size: $font-base-size-px;
}

body {
  min-width: $bodyMinWidth;
  background: $brand-gray-3;
  font-family: $font-family-base;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: $brand-gray-2;
}



/* Grid
/* ----------------------------- */

.container {
  max-width: $containerMaxWidth;
  position: relative;
}

.row {
  padding-bottom: 15px;

  @include mobile {
    padding-bottom: 0;
  }
}

.main-header {
  .row {
    padding-bottom: 15px;
  }
}

[class^="col-"],
[class*="col-"] {
  position: relative;
}

main {
  padding: 20px 0;
}

.sectiontemplate {
  margin-bottom: 15px;

  .row {
    margin: 0;
  }

  .col-input {
    float: left;
    margin-left: 40px;
    width: 360px;
    height: $input-height;
  }

  .col-button {
    float: left;
    width: 40px;
    margin-left: 15px;
    height: $input-height;
  }

  @include desktop-large {
    .col-input {
      width: 460px;
    }
  }

  @include tablet {
    .col-input {
      width: 625px;
    }
  }

  @include mobile {
    .col-button,
    .col-input {
      float: none;
      margin: 0;
      width: 100%;
      height: auto;
      display: inline-block;
    }
  }
}

.gray-line {
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: $brand-gray-1;
  }

  @include tablet {
    border-bottom: 1px solid $brand-gray-1;
    margin-bottom: 25px;

    &:after {
      content: '';
      width: 0;
      height: 0;
      background: none;
    }
  }
}