/* Heading
/* ----------------------------- */

h1 {
    margin: 0;
    @include calc-font-size(4.2rem);
    font-weight: 400;
}

h2 {
    margin: 0 0 10px;
    @include calc-font-size(3.6rem);
    font-weight: 400;
}

h3 {
    margin: 0 0 15px;
    @include calc-font-size(2.4rem);
    font-weight: 400;
}

h4 {
    margin: 0 0 15px;
    @include calc-font-size(2.0rem);
    font-weight: 400;
}

h5 {
    margin: 0 0 10px;
    @include calc-font-size(1.6rem);
    font-weight: 400;
}

h6 {
    margin: 0 0 10px;
    @include calc-font-size(1.4rem);
    font-weight: 400;
}


/* Paragraph
/* ----------------------------- */

p {
    margin-bottom: 15px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: normal;
    color: $brand-gray-2;
}


/* Anchor
/* ----------------------------- */

a,
a:visited,
a:focus {
    color: $brand-gray-2;
    text-decoration: none;
    transition: color $transitionFast;
    &:active,
    &:hover {
        color: $brand-primary;
        text-decoration: underline;
        &::before {
            text-decoration: none;
        }
    }
}

// icon
i.icon-class {
    &:before {
        padding-right: 10px;
        font-size: 3.0rem;
        line-height: 2.4rem;
    }
}

// Box Icon
// -------------------------------------
.box-icon {
    float: left;
    &+ .box-icon {
        margin-left: 15px;
    }
    button {
        border: 1px solid $icon-box-color;
        font-size: 1.7rem;
        line-height: $input-line-height;
        background: $white;
        width: $button-width;
        height: $button-height;
        position: relative;
        border-radius: $boxBorderRadius;
        transition: all $transitionFast $transitionTiming;
        [class^='icon-']::before,
        [class*='icon-']::before {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 11px;
            left: 10px;
            color: $icon-box-color;
            font-size: 1.7rem;
            transition: color $transitionFast $transitionTiming;
        }
        &:hover {
            border: 1px solid $icon-box-hover-color;
            box-shadow: $boxShadowDefault;
            [class^='icon-']::before,
            [class*='icon-']::before {
                color: $icon-box-hover-color;
            }
        }
        &:disabled {
            background: $brand-gray-1;
            border-color: $brand-gray-2;
            color: $brand-gray-2;
            [class^='icon-']::before,
            [class*='icon-']::before {
                color: $brand-gray-2;
            }
            &:hover {
                background: $brand-gray-1;
                border-color: $brand-gray-2;
                color: $brand-gray-2;
                box-shadow: none;
                [class^='icon-']::before,
                [class*='icon-']::before {
                    color: $brand-gray-2;
                }
            }
        }
        @include mobile {
            margin: 0 0 15px 0;
        }
    }
}
