<div class="row">
  <button *ngFor="let shortcut of shortcuts.slice().reverse()"
          class="button shortcut"
          (click)="selectShortcut(shortcut)">
    <span>{{shortcut.DisplayName}}</span>
  </button>

  <button *ngFor="let placeholder of shortcutPlaceholder"
          class="button shortcut placeholder"
          [disabled]="true">
    <span>{{ 'PRODUCT_CALCULATION_SHORTCUT_PLACEHOLDER' | translate }}</span>
  </button>

  <div class="col-button">
    <div class="field-container box-icon">
      <button (click)="modalSearch.open()">
        <span class="icon-search"></span>
      </button>
    </div>
  </div>

  <button class="button shortcut"
          (click)="lastRate()"
          [disabled]="!lastShortcut">
    <span>{{ 'PRODUCT_CALCULATION_LAST_RATE' | translate }}</span>
  </button>
</div>


<modal #modalSearch [keyboard]="false">
  <modal-header>
    <div class="row">
      <div class="col-md-12">
        <h4>{{ 'PRODUCT_CALCULATION_SEARCH_SHORTCUT_HEADLINE' | translate }}</h4>
      </div>
    </div>
  </modal-header>
  <form [ngFormModel]="searchForm">
    <modal-body>
      <div class="row">
        <div class="col-sm-12">
          <div class="field-container text-field">
            <input type="text"
                   placeholder="{{ 'PRODUCT_CALCULATION_SEARCH_SHORTCUT_PLACEHOLDER' | translate }}"
                   ngControl="search"
                   (keyup.esc)="searchForm.controls['search'].updateValue('')">
            <button class="clear-submit"
                    (click)="searchForm.controls['search'].updateValue('')">
              <span class="icon-close"></span>
            </button>
          </div>
        </div>
      </div>
    </modal-body>

    <modal-footer>
      <div class="row">
        <div class="col-sm-12">
          <button class="button popup"
                  (click)="modalSearch.close()">
            <span>{{ 'MODAL_CLOSE' | translate }}</span>
          </button>

          <button type="submit"
                  class="button popup">
            <span>{{ 'MODAL_SAVE' | translate }}</span>
          </button>
        </div>
      </div>
    </modal-footer>
  </form>
</modal>