<section class="sectiontemplate">
  <h4>
    <i class="icon-class icon-social"></i>
    {{ 'SENDER_HEADLINE' | translate }}
  </h4>
  <form [ngFormModel]="sendersForm">

    <div class="row">
      <div class="col-input">
        <div class="field-container text-field-search">
          <div class="search-submit">
            <span class="icon-search"></span>
          </div>
          <input type="text"
                 placeholder="{{ 'SENDER_PLACEHOLDER' | translate }}"
                 tabindex="1"
                 ngControl="sender"
                 [fpSuggest]="mapSuggest(addressService)"
                 [fpSuggestEvents]="senderEvents">
          <button class="clear-submit"
                  (mouseup)="clearSender()">
            <span class="icon-close"></span>
          </button>
        </div>

        <div class="row autocomplete"
             [class.open]="senderSuggestions.length > 0 && sendersForm.controls['sender'].value.length > 0">
          <ul>
            <li *ngFor="let sender of senderSuggestions"
                (click)="selectSender(sender)">
              <span class="company">{{sender.FirstName}} {{sender.LastName}} ({{sender.Company}})</span>
              <span class="address">{{sender.PostalAddress}} {{sender.ZipCode}} {{sender.City}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-button">
        <div class="field-container box-icon">
          <button (click)="showAddDialogChange.emit(true)">
            <span class="icon-plus"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-input">
        <label>
          <i class="icon-class icon-location"></i>
          {{ 'SHIPPING_POINT_HEADLINE' | translate }}
        </label>
        <div class="field-container text-field">
          <input type="text"
                 name="text-input"
                 placeholder="{{ 'SHIPPING_POINT_PLACEHOLDER' | translate }}"
                 tabindex="2"
                 ngControl="shippingPoint">
          <button class="clear-submit"
                  (click)="sendersForm.controls['shippingPoint'].updateValue('')">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>
     <div class="col-button"></div>
    </div>
  </form>
</section>

<fp-shipping-sender-add [showChange]="showAddDialogChange"></fp-shipping-sender-add>