<div class="row">
  <div class="col-md-6 gray-line">
    <fp-shipping-sender (onError)="handleError($event)"
                        [(sender)]="sender"
                        [(shippingPoint)]="shippingPoint"></fp-shipping-sender>

    <fp-shipping-recipient (onError)="handleError($event)"
                           [(recipient)]="recipient"></fp-shipping-recipient>

    <fp-shipping-cost-center (onError)="handleError($event)"
                             [(costCenter1)]="costCenter1"
                             [(costCenter2)]="costCenter2"
                             [(costCenter3)]="costCenter3"></fp-shipping-cost-center>

    <fp-shipping-additional-information (onError)="handleError($event)"
                                        [(additionalInfo1)]="additionalInfo1"
                                        [(additionalInfo2)]="additionalInfo2"></fp-shipping-additional-information>
  </div>

  <div class="col-md-6">
    <fp-shipping-product-calculation (onError)="handleError($event)"
                                     [sender]="sender"
                                     [shippingPoint]="shippingPoint"
                                     [recipient]="recipient"
                                     [(dimensions)]="dimensions"
                                     [(weight)]="weight"
                                     [(parcel)]="parcel"></fp-shipping-product-calculation>

    <fp-shipping-options (onError)="handleError($event)"
                         (onBuyLabel)="buyLabel()"
                         [(selectedOptions)]="options"
                         [parcel]="parcel"></fp-shipping-options>
  </div>
</div>