<div class="row paging-control">
    <div class="col-md-1 col-md-offset-3">
        <button>
            <span class="icon-button icon-left-arrow"></span>
        </button>
    </div>

    <div class="col-md-3">
        <label class="paging-status">n of m entries</label>
    </div>

    <div class="col-md-1">
        <button>
            <span class="icon-button icon-right-arrow"></span>
        </button>
    </div>

    <div class="col-md-offset-2 col-md-2">
        <select class="dropdown-menu">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </div>

    <!--<section class="arrow-bar">
        <div class="left-arrow">
            <button>
                <span class="icon-button icon-left-arrow"></span>
            </button>
        </div>
        <label class="staticLabel">n of m entries</label>
        <div class="right-arrow">
            <button>
                <span class="icon-button icon-right-arrow"></span>
            </button>
        </div>

        <div style="float: right;">
            <select class="dropdown-menu">
                <option value=""></option>
            </select>
        </div>
        <label class="staticLabel">Results per page:</label>
    </section>-->
</div>