<div class="row">
    <div class="field-container text-field col-md-2">
        <input type="text" [(ngModel)]="NumberFilter" placeholder="{{ 'NUMBER' | translate }}">
        <button class="clear-submit" (click)="NumberFilter = null;">
            <span class="icon-close"></span>
        </button>
    </div>
    <div class="field-container text-field col-md-2">
        <input type="text" [(ngModel)]="NameFilter" placeholder="{{ 'NAME' | translate }}">
        <button class="clear-submit" (click)="NameFilter = null;">
            <span class="icon-close"></span>
        </button>
    </div>
    <div class="field-container text-field col-md-2">
        <input type="text" [(ngModel)]="LevelFilter" placeholder="{{ 'LEVEL' | translate }}">
        <button class="clear-submit" (click)="LevelFilter = null;">
            <span class="icon-close"></span>
        </button>
    </div>
    <div class="field-container text-field col-md-2">
        <select [(ngModel)]="SelectedIsActiveFilter">
            <option value="0" [selected]="SelectedIsActiveFilter === 0">{{ 'INACTIVE' | translate }}</option>
            <option value="1" [selected]="SelectedIsActiveFilter === 1">{{ 'ACTIVE' | translate }}</option>
            <option value="2" [selected]="SelectedIsActiveFilter > 1">{{ 'ALL' | translate }}</option>
        </select>
    </div>
    <div class="col-md-4">
        <button class="button submit height-40"
                (click)="applyFilter()">
            <span>{{ 'APPLY' | translate }}</span>
        </button>
    </div>
</div>