<h3>
    <i class="icon-class icon-cogwheel"></i>
    {{ 'ADMINISTRATION_COST_ACCOUNT_HEADLINE' | translate }}
</h3>
<div class="row">
    <div *ngIf="isInEditMode" class="col-md-12 status-message" id="status-box">
        <i class="icon-interface">
            <span>Edit Mode</span>
        </i>
    </div>
</div>
<div *ngIf="!isLoading" class="indented-row">
    <div class="field-container box-icon">
        <button (click)="costAccount_onCreateNew()">
            <span class="icon-class icon-plus" title="{{ 'NEW' | translate }}"></span>
        </button>
    </div>
</div>

<fp-loading-animation *ngIf="isLoading"></fp-loading-animation>

<fp-administration-cost-account-table-filter *ngIf="!isLoading"
                                             [nameFilter]="costAccountFilter.Name"
                                             [numberFilter]="costAccountFilter.Number"
                                             [levelFilter]="costAccountFilter.Level"
                                             [selectedIsActiveFilter]="costAccountFilter.IsActive"
                                             (applyFilterRequested)="filter_onApply($event)">

</fp-administration-cost-account-table-filter>
<fp-administration-cost-account-table-paging *ngIf="!isLoading"
                                             [resultCount]="selectedResultCount"
                                             [totalResultCount]="TotalResultCount"
                                             [currentPage]="currentPageIndex"
                                             (resultCountChanged)="paging_onResultCountChanged($event)"
                                             (changePageRequested)="paging_onPageChangeRequested($event)"
                                             (pageChanged)="paging_onPageIndexChanged($event)">

</fp-administration-cost-account-table-paging>
<fp-administration-cost-account-table *ngIf="!isLoading"
                                      [items]="costAccountList"
                                      (showDetails)="costAccount_onShowDetails($event)">

</fp-administration-cost-account-table>
<fp-administration-cost-account-table-paging *ngIf="!isLoading"
                                             [resultCount]="selectedResultCount"
                                             [totalResultCount]="TotalResultCount"
                                             [currentPage]="currentPageIndex"
                                             (resultCountChanged)="paging_onResultCountChanged($event)"
                                             (changePageRequested)="paging_onPageChangeRequested($event)"
                                             (pageChanged)="paging_onPageIndexChanged($event)">

</fp-administration-cost-account-table-paging>

<fp-cost-account-item-details [showChange]="showEditDialogChange"
                              [costAccount]="SelectedCostAccount"
                              (costAccountCreated)="costAccount_onCreated($event)"
                              (costAccountDeleted)="costAccount_onDeleted($event)"
                              (costAccountChanged)="costAccount_onChanged($event)">

</fp-cost-account-item-details>
