<div class="row">
    <div class="field-container text-field col-md-2">
        <input type="text" value="" placeholder="{{ 'NUMBER' | translate }}">
        <button class="clear-submit">
            <span class="icon-close"></span>
        </button>
    </div>
    <div class="field-container text-field col-md-2">
        <input type="text" value="" placeholder="{{ 'NAME' | translate }}">
        <button class="clear-submit">
            <span class="icon-close"></span>
        </button>
    </div>
    <div class="field-container text-field col-md-2">
        <input type="text" value="" placeholder="{{ 'LEVEL' | translate }}">
        <button class="clear-submit">
            <span class="icon-close"></span>
        </button>
    </div>
    <div class="field-container text-field col-md-2">
        <input type="text" value="" placeholder="{{ 'ACTIVE' | translate }}">
        <button class="clear-submit">
            <span class="icon-close"></span>
        </button>
    </div>
    <div class="col-md-4">
        <button class="button submit height-40">
            <span>{{ 'APPLY' | translate }}</span>
        </button>
    </div>
</div>