<div class="row">
    <table class="data-table" style="margin-top: 10px; margin-bottom: 10px;">
        <thead>
            <tr>
                <th>{{ 'NUMBER' | translate }}</th>
                <th>{{ 'NAME' | translate }}</th>
                <th>{{ 'LEVEL' | translate }}</th>
                <th>{{ 'ACTIVE' | translate }}</th>
                <th>{{ 'DETAILS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Test</td>
                <td>1</td>
                <td>YES</td>
                <td>
                    <button type="button">
                        <span class="icon-class icon-eye"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>