<section class="sectiontemplate">
  <h4>
    <i class="icon-class icon-social"></i>
    {{ 'SENDER_HEADLINE' | translate }}
  </h4>
  <div class="row">
    <div class="col-input">
      <div class="field-container text-field-search">
        <div class="search-submit">
          <span class="icon-search"></span>
        </div>
        <input type="text"
               name="sender"
               placeholder="{{ 'SENDER_PLACEHOLDER' | translate }}"
               tabindex="1"
               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
               [(ngModel)]="senderInput"
               [fpSuggest]="mapSuggest(addressService)"
               [fpSuggestEvents]="senderEvents">
        <button type="button"
                class="clear-submit"
                (click)="senderEvents.emit({type: 3})">
          <span class="icon-close"></span>
        </button>
      </div>

      <div class="row addressInfo">
        <p *ngIf="!sender">{{ 'SENDER_NO_ADDRESS_SELECTED' | translate }}</p>
        <p *ngIf="sender">{{sender.PostalAddress}} {{sender.ZipCode}} {{sender.City}}</p>
      </div>

      <div class="row autocomplete"
           [class.open]="senderSuggestions.length > 0">
        <ul>
          <li *ngFor="let sender of senderSuggestions"
              (click)="senderEvents.emit({type: 2, data: sender})">
            <span class="company">{{sender.FirstName}} {{sender.LastName}} ({{sender.Company}})</span>
            <span class="address">{{sender.PostalAddress}} {{sender.ZipCode}} {{sender.City}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-button">
      <div class="field-container box-icon">
        <button type="button"
                (click)="showAddDialogChange.emit(true)">
          <span class="icon-plus"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-input">
      <label>
        <i class="icon-class icon-location"></i>
        {{ 'SHIPPING_POINT_HEADLINE' | translate }}
      </label>
      <div class="field-container text-field">
        <input type="text"
               name="shipping-point"
               placeholder="{{ 'SHIPPING_POINT_PLACEHOLDER' | translate }}"
               tabindex="2"
               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
               (input)="shippingPointChange.emit($event.target.value)"
               [(ngModel)]="shippingPoint"
               (keyup.esc)="shippingPointChange.emit('')">
        <button type="button"
                class="clear-submit"
                (click)="shippingPointChange.emit('')">
          <span class="icon-close"></span>
        </button>
      </div>
    </div>
    <div class="col-button"></div>
  </div>
</section>

<fp-shipping-sender-add [showChange]="showAddDialogChange"></fp-shipping-sender-add>