<div class="row">
  <div class="col-md-12">
    <section *ngIf="error"
             class="sectiontemplate box-error">
      <div class="content">
        {{ error.message }}
      </div>
      <button type="button" 
              class="clear-submit"
              (click)="error = null">
        <span class="icon-close"></span>
      </button>
    </section>
  </div>

  <div class="col-md-6 gray-line">
    <fp-shipping-sender (onError)="handleError($event)"
                        (senderChange)="sender = $event"
                        (shippingPointChange)="shippingPoint = $event"></fp-shipping-sender>

    <fp-shipping-recipient (onError)="handleError($event)"
                           (recipientChange)="recipient = $event"></fp-shipping-recipient>

    <fp-shipping-cost-center (onError)="handleError($event)"
                             (costCenter1Change)="costCenter1 = $event"
                             (costCenter2Change)="costCenter2 = $event"
                             (costCenter3Change)="costCenter3 = $event"></fp-shipping-cost-center>

    <fp-shipping-additional-information (onError)="handleError($event)"
                                        (additionalInfo1Change)="additionalInfo1 = $event"
                                        (additionalInfo2Change)="additionalInfo2 = $event"></fp-shipping-additional-information>
  </div>

  <div class="col-md-6">
    <fp-shipping-product-calculation (onError)="handleError($event)"
                                     [sender]="sender"
                                     [shippingPoint]="shippingPoint"
                                     [recipient]="recipient"
                                     [(selectedOptions)]="options"
                                     (dimensionsChange)="dimensions = $event"
                                     (weightChange)="weight = $event"
                                     (isDocumentChange)="isDocument = $event"
                                     (parcelChange)="parcel = $event;options = [];"></fp-shipping-product-calculation>

    <fp-shipping-options (onError)="handleError($event)"
                         (onBuyLabel)="buyLabel()"
                         [(selectedOptions)]="options"
                         [canBuy]="canBuy(buyRunning, parcel, shippingPoint, sender, recipient, weight, costCenter1)"
                         [parcel]="parcel"
                         [dimensions]="dimensions"
                         [weight]="weight"
                         [isDocument]="isDocument"
                         [shippingPoint]="shippingPoint"
                         [recipient]="recipient"></fp-shipping-options>
  </div>
</div>