<modal #modalAddSender [keyboard]="false">
  <modal-header>
    <div class="row">
      <div class="col-md-12">
        <h4>{{ 'SENDER_ADD_HEADLINE' | translate }}</h4>
      </div>
    </div>
  </modal-header>
  <form #addForm="ngForm"
        (ngSubmit)="save()">

    <modal-body>
      <div class="row">
        <div class="col-md-12">
          <section *ngIf="error" 
                   class="sectiontemplate box-error">
            <div class="content">
              {{ error.message }}
            </div>
            <button type="button"
                    class="clear-submit"
                    (click)="error = null">
              <span class="icon-close"></span>
            </button>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="field-container text-field">
            <input type="text"
                   name="company"
                   placeholder="{{ 'SENDER_ADD_COMPANY_PLACEHOLDER' | translate }}"
                   [(ngModel)]="address.Company"
                   (keyup.esc)="address.Company = ''"
                   required>
            <button type="button"
                    class="clear-submit"
                    (click)="address.Company = ''">
              <span class="icon-close"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="field-container text-field">
            <input type="text"
                   name="title"
                   placeholder="{{ 'SENDER_ADD_TITLE_PLACEHOLDER' | translate }}"
                   [(ngModel)]="address.Title"
                   (keyup.esc)="address.Title = ''"
                   required>
            <button type="button"
                    class="clear-submit"
                    (click)="address.Title = ''">
              <span class="icon-close"></span>
            </button>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="field-container text-field">
            <input type="text"
                   name="firstname"
                   placeholder="{{ 'SENDER_ADD_FIRSTNAME_PLACEHOLDER' | translate }}"
                   [(ngModel)]="address.FirstName"
                   (keyup.esc)="address.FirstName = ''"
                   required>
            <button type="button"
                    class="clear-submit"
                    (click)="address.FirstName = ''">
              <span class="icon-close"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="field-container text-field">
            <input type="text"
                   name="middlename"
                   placeholder="{{ 'SENDER_ADD_MIDDLENAME_PLACEHOLDER' | translate }}"
                   [(ngModel)]="address.MiddleName"
                   (keyup.esc)="address.MiddleName = ''">
            <button type="button"
                    class="clear-submit"
                    (click)="address.MiddleName = ''">
              <span class="icon-close"></span>
            </button>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="field-container text-field">
            <input type="text"
                   name="lastname"
                   placeholder="{{ 'SENDER_ADD_LASTNAME_PLACEHOLDER' | translate }}"
                   [(ngModel)]="address.LastName"
                   (keyup.esc)="address.LastName = ''"
                   required>
            <button type="button"
                    class="clear-submit"
                    (click)="address.LastName = ''">
              <span class="icon-close"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="field-container text-field">
            <select (change)="countryChanged($event.target.value)"
                    [disabled]="countries.length === 0">
              <option *ngFor="let country of countries">
                {{country.CountryName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="field-container text-field">
            <select (change)="regionChanged($event.target.value)"
                    [disabled]="regions.length === 0">
              <option *ngFor="let region of regions">
                {{region.RegionName}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="field-container text-field">
            <input type="text"
                   name="postaladdress"
                   placeholder="{{ 'SENDER_ADD_POSTALADDRESS_PLACEHOLDER' | translate }}"
                   [(ngModel)]="address.PostalAddress"
                   (keyup.esc)="address.PostalAddress = ''"
                   required>
            <button type="button"
                    class="clear-submit"
                    (click)="address.PostalAddress = ''">
              <span class="icon-close"></span>
            </button>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="field-container text-field">
            <input type="text"
                   name="city"
                   placeholder="{{ 'SENDER_ADD_CITY_PLACEHOLDER' | translate }}"
                   [(ngModel)]="address.City"
                   (keyup.esc)="address.City = ''"
                   required>
            <button type="button"
                    class="clear-submit"
                    (click)="address.City = ''">
              <span class="icon-close"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="field-container text-field">
            <input type="text"
                   name="zipcode"
                   placeholder="{{ 'SENDER_ADD_ZIPCODE_PLACEHOLDER' | translate }}"
                   [(ngModel)]="address.ZipCode"
                   (keyup.esc)="address.ZipCode = ''"
                   required>
            <button type="button"
                    class="clear-submit"
                    (click)="address.ZipCode = ''">
              <span class="icon-close"></span>
            </button>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="field-container text-field">
            <input type="text"
                   name="additionalzipcode"
                   placeholder="{{ 'SENDER_ADD_ADDITIONALZIPCODE_PLACEHOLDER' | translate }}"
                   [(ngModel)]="address.AdditionalZipCode"
                   (keyup.esc)="address.AdditionalZipCode = ''">
            <button type="button"
                    class="clear-submit"
                    (click)="address.AdditionalZipCode = ''">
              <span class="icon-close"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="field-container text-field">
            <input type="text"
                   name="email"
                   placeholder="{{ 'SENDER_ADD_EMAIL_PLACEHOLDER' | translate }}"
                   [(ngModel)]="address.EMailAddress"
                   (keyup.esc)="address.EMailAddress = ''"
                   required>
            <button type="button"
                    class="clear-submit"
                    (click)="address.EMailAddress = ''">
              <span class="icon-close"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <span>{{ 'MODAL_HINT_TEXT' | translate }}</span>
        </div>
      </div>

    </modal-body>

    <modal-footer>
      <div class="row">
        <div class="col-sm-12">
          <button type="button"
                  class="button popup"
                  (click)="close()">
            <span>{{ 'MODAL_CLOSE' | translate }}</span>
          </button>

          <button type="submit"
                  class="button popup"
                  [disabled]="!addForm.form.valid">
            <span>{{ 'MODAL_SAVE' | translate }}</span>
          </button>
        </div>
      </div>
    </modal-footer>
  </form>
</modal>