<modal #modalAddSender [keyboard]="false">
    <modal-header>
        <div class="row">
            <div class="col-md-12">
                <h4>{{ 'ADDRESSGROUP_ADD_HEADLINE' | translate }}</h4>
            </div>
        </div>
    </modal-header>
    <form #addForm="ngForm"
          (ngSubmit)="save()">

        <modal-body>
            <div class="row">
                <div class="col-md-12">
                    <section *ngIf="error"
                             class="sectiontemplate box-error">
                        <div class="content">
                            {{ error.message }}
                        </div>
                        <button type="button"
                                class="clear-submit"
                                (click)="error = null">
                            <span class="icon-close"></span>
                        </button>
                    </section>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="field-container text-field">
                        <input type="text"
                               name="groupname"
                               placeholder="{{ 'ADDRESSGROUP_PLACEHOLDER' | translate }}"
                               [(ngModel)]="group.GroupName"
                               (keyup.esc)="group.GroupName = ''"
                               required>
                        <button type="button"
                                class="clear-submit"
                                (click)="group.GroupName = ''">
                            <span class="icon-close"></span>
                        </button>
                    </div>
                </div>
            </div>
        </modal-body>

        <modal-footer>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button"
                            class="button popup"
                            (click)="close()">
                        <span>{{ 'MODAL_CLOSE' | translate }}</span>
                    </button>

                    <button type="submit"
                            class="button popup"
                            [disabled]="!addForm.form.valid">
                        <span>{{ 'MODAL_SAVE' | translate }}</span>
                    </button>
                </div>
            </div>
        </modal-footer>
    </form>
</modal>