<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="brand">
                <a href="#">
                    <img src="assets/img/frankotyp-logo.png" class="logo" alt="Francotyp" title="Francotyp">
                </a>
            </div>
            <div class="main-menu-container">
                <nav class="main-menu">
                    <ul>
                        <li><a routerLink="/">{{ 'DASHBOARD_NAV' | translate }}</a></li>
                        <li><a routerLink="/shipping">{{ 'SHIPPING_NAV' | translate }}</a></li>
                        <li><a routerLink="/administration">{{ 'ADMINISTRATION_NAV' | translate }}</a></li>
                        <li><a routerLink="/profile">{{ 'PROFILE_NAV' | translate }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="deco-container">
        <fp-user-properties></fp-user-properties>
    </div>
</header>

<main>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <section *ngIf="hasNotification"
                         class="sectiontemplate box-error">
                    <div class="content">
                        {{ message }}
                    </div>
                    <button type="button"
                            class="clear-submit"
                            (click)="hasNotification = false">
                        <span class="icon-close"></span>
                    </button>
                </section>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</main>


<modal #modalLogin [keyboard]="false" [backdrop]="'static'">
    <modal-header>
        <div class="row">
            <div class="col-md-12">
                <h4>Login*</h4>
            </div>
        </div>
    </modal-header>
    <form #loginForm="ngForm"
          (ngSubmit)="login()">
        <modal-body>
            <div class="row">
                <div class="col-sm-6">
                    <div class="field-container text-field">
                        <input type="text"
                               name="username"
                               placeholder="Username*"
                               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                               [(ngModel)]="username"
                               (keyup.esc)="username = ''"
                               required>
                        <button type="button"
                                class="clear-submit"
                                (click)="username = ''">
                            <span class="icon-close"></span>
                        </button>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="field-container text-field">
                        <input type="password"
                               name="password"
                               placeholder="Password*"
                               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                               [(ngModel)]="password"
                               (keyup.esc)="password = ''"
                               required>
                        <button type="button"
                                class="clear-submit"
                                (click)="password = ''">
                            <span class="icon-close"></span>
                        </button>
                    </div>
                </div>
            </div>
        </modal-body>

        <modal-footer>
            <div class="row">
                <div class="col-sm-12">
                    <button type="submit"
                            class="button popup"
                            [disabled]="!loginForm.form.valid">
                        login*
                    </button>
                </div>
            </div>
        </modal-footer>
    </form>
</modal>