<div class="container">
    <div style="width: 100%">
        <div style="float:right; margin-left:10px; color:rgb(255,255,255); text-align:right">
            <label>
                <i class="icon-class "></i>
                {{customerNo}}
            </label>
        </div>
        <div style="float:right; margin-left:10px; color:rgb(255,255,255); text-align:right">

            <label>
                <i class="icon-class "></i>
                {{loginName}}
            </label>
        </div>
    </div>
</div>
