<div class="row">
    <table class="data-table" style="margin-top: 10px; margin-bottom: 10px;">
        <thead>
            <tr>
                <th>{{ 'INVOICE NUMBER' | translate }}</th>
                <th>{{ 'INVOICE DATE' | translate }}</th>
                <th>{{ 'INVOICE AMOUNT' | translate }}</th>
                <th>{{ 'DETAILS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items" class="table-row">
                <td>{{ item.InvoiceNumber }}</td>
                <td>{{ item.CreationDate | date: 'yyyy-MM-dd' }}</td>
                <td>{{ item.InvoicedAmount | currency:'USD':true:'1.2-2' }}</td>
                <td>
                    <button type="button" class="cell-button"
                            (click)="showDetails.emit(item);">
                        <span class="icon-class icon-eye"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>