<div class="row paging-control">
    <div class="col-md-1 col-md-offset-3 col-sm-2">
        <button (click)="goToPreviousPage()">
            <span class="icon-button icon-left-arrow"></span>
        </button>
    </div>

    <div class="col-md-3 col-sm-4">
        <label class="paging-status">{{ 'PAGE' | translate }} {{CurrentPage}}/{{MaxPage}}</label>
    </div>

    <div class="col-md-1 col-sm-2">
        <button (click)="goToNextPage()">
            <span class="icon-button icon-right-arrow"></span>
        </button>
    </div>

    <div class="col-md-offset-2 col-md-2 col-sm-2 col-sm-offset-2">
        <select class="dropdown-menu"
                [(ngModel)]="ResultCount">
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </div>

</div>