<section class="sectiontemplate">
  <h4><i class="icon-class icon-tool"></i>Product Calculation</h4>
  <form [ngFormModel]="productCalculationForm" (ngSubmit)="recalculateProduct()">
    <div class="row">
      <div class="col-input-long small-input">
        <div class="field-container text-field">
          <input type="text"
                 placeholder="weight"
                 tabindex="10"
                 ngControl="weight"
                 [class.error]="!productCalculationForm.controls['weight'].valid && productCalculationForm.controls['weight'].touched">
          <button class="clear-submit"
                  (click)="productCalculationForm.controls['weight'].updateValue('')">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>

      <div class="col-button-small">
        <div class="field-container box-icon">
          <button>
            <span class="icon-weight"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-input-long small-input">
        <div class="field-container text-field">
          <input type="text"
                 placeholder="length"
                 tabindex="11"
                 ngControl="length"
                 [class.error]="!productCalculationForm.controls['length'].valid && productCalculationForm.controls['length'].touched">
          <button class="clear-submit"
                  (click)="productCalculationForm.controls['length'].updateValue('')">
            <span class="icon-close"></span>
          </button>
        </div>

        <div class="field-container text-field">
          <input type="text"
                 placeholder="width"
                 tabindex="12"
                 ngControl="width"
                 [class.error]="!productCalculationForm.controls['width'].valid && productCalculationForm.controls['width'].touched">
          <button class="clear-submit"
                  (click)="productCalculationForm.controls['width'].updateValue('')">
            <span class="icon-close"></span>
          </button>
        </div>

        <div class="field-container text-field">
          <input type="text"
                 placeholder="height"
                 tabindex="13"
                 ngControl="height"
                 [class.error]="!productCalculationForm.controls['height'].valid && productCalculationForm.controls['height'].touched">
          <button class="clear-submit"
                  (click)="productCalculationForm.controls['height'].updateValue('')">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>
      <div class="col-button-small">
        <div class="field-container box-icon">
          <button type="submit" [disabled]="!productCalculationForm.valid">
            <span class="icon-interface"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <a href="#" class="button shortcut">
        <span>shortcut 1*</span>
      </a>
      <a href="#" class="button shortcut">
        <span>shortcut 2*</span>
      </a>
      <a href="#" class="button shortcut">
        <span>shortcut 3*</span>
      </a>
      <a href="#" class="button shortcut">
        <span>shortcut 4*</span>
      </a>

      <div class="col-button-small">
        <div class="field-container box-icon">
          <button>
            <span class="icon-search"></span>
          </button>
        </div>
      </div>
      <a href="#" class="button shortcut">
        <span>last rate*</span>
      </a>
    </div>

    <div class="row">
      <div class="field-container box-info">
        <span>Parcel	Weight / Dimensions*</span>
        <hr>
        <span>1000G	10cm x 10 cm x 10cm*</span>
      </div>

      <button href="#" class="button color">
        <span>calculate*</span>
      </button>
    </div>

    <div class="row">
      <div class="field-container box-package">
        <span>XpresspostTM*</span><span class="price">$ 22.49*</span>
        <span>2 bussiness days (Guaranteed)*</span>
      </div>
    </div>

  </form>
</section>