<section class="sectiontemplate">
  <h4><i class="icon-class icon-social"></i>Sender</h4>
  <form [ngFormModel]="sendersForm">

    <div class="row">
      <div class="col-input">
        <div class="field-container text-field-search">
          <button class="search-submit">
            <span class="icon-search"></span>
          </button>
          <input type="text"
                 placeholder="sender"
                 tabindex="1"
                 ngControl="sender"
                 [fpSuggest]="mapSuggest(addressService)"
                 [fpSuggestEvents]="senderEvents">
          <button class="clear-submit"
                  (click)="clearSender()">
            <span class="icon-close"></span>
          </button>
        </div>

        <div class="row autocomplete"
             [class.open]="senderSuggestions.length > 0 && sendersForm.controls['sender'].value.length > 0">
          <ul>
            <li *ngFor="let sender of senderSuggestions"
                (click)="selectSender(sender)">
              {{modelFormatter.addressDisplayInfo(sender)}}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-button">
        <div class="field-container box-icon">
          <button>
            <span class="icon-search"></span>
          </button>
        </div>
        <div class="field-container box-icon">
          <button>
            <span class="icon-plus"
                  (click)="showAddDialogChange.emit(true)"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-input">
        <label>
          <i class="icon-class icon-location"></i>
          Shipping Point
        </label>
        <div class="field-container text-field">
          <input type="text"
                 name="text-input"
                 placeholder="shipping point"
                 tabindex="2"
                 ngControl="shippingPoint">
          <button class="clear-submit"
                  (click)="sendersForm.controls['shippingPoint'].updateValue('')">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>
     <div class="col-button"></div>
    </div>
  </form>
</section>

<fp-shipping-sender-add [showChange]="showAddDialogChange"></fp-shipping-sender-add>