<modal #modalAddSender (onClose)="save()">
  <modal-header>
    <h4 class="modal-title">Add Sender*</h4>
  </modal-header>
  <form [ngFormModel]="addForm">
    <modal-body>
      <input type="text"
             placeholder="Company*"
             ngControl="company"
             [class.error]="!addForm.controls['company'].valid && addForm.controls['company'].touched">
      <input type="text"
             placeholder="Title*"
             ngControl="title"
             [class.error]="!addForm.controls['title'].valid && addForm.controls['title'].touched">
      <input type="text"
             placeholder="First Name*"
             ngControl="firstName"
             [class.error]="!addForm.controls['firstName'].valid && addForm.controls['firstName'].touched">
      <input type="text"
             placeholder="Middle Name*"
             ngControl="middleName"
             [class.error]="!addForm.controls['middleName'].valid && addForm.controls['middleName'].touched">
      <input type="text"
             placeholder="Last Name*"
             ngControl="lastName"
             [class.error]="!addForm.controls['lastName'].valid && addForm.controls['lastName'].touched">
      <input type="text"
             placeholder="Postal Address*"
             ngControl="postalAddress"
             [class.error]="!addForm.controls['postalAddress'].valid && addForm.controls['postalAddress'].touched">
      <input type="text"
             placeholder="Additional postal address*"
             ngControl="additionalPostalAddress"
             [class.error]="!addForm.controls['additionalPostalAddress'].valid && addForm.controls['additionalPostalAddress'].touched">
      <input type="text"
             placeholder="City*"
             ngControl="city"
             [class.error]="!addForm.controls['city'].valid && addForm.controls['city'].touched">
      <input type="text"
             placeholder="Zip Code*"
             ngControl="zipCode"
             [class.error]="!addForm.controls['zipCode'].valid && addForm.controls['zipCode'].touched">
      <input type="text"
             placeholder="Additional zip code*"
             ngControl="additionalZipCode"
             [class.error]="!addForm.controls['additionalZipCode'].valid && addForm.controls['additionalZipCode'].touched">
      <input type="text"
             placeholder="E-Mail*"
             ngControl="eMail"
             [class.error]="!addForm.controls['eMail'].valid && addForm.controls['eMail'].touched">
      <select (change)="countryChanged($event.target.value)"
              [disabled]="countries.length === 0">
        <option *ngFor="let country of countries">
          {{country.CountryName}}
        </option>
      </select>
      <select (change)="regionChanged($event.target.value)"
              [disabled]="regions.length === 0">
        <option *ngFor="let region of regions">
          {{region.RegionName}}
        </option>
      </select>
    </modal-body>
    <modal-footer [show-default-buttons]="true"></modal-footer>
  </form>
</modal>