<section class="sectiontemplate">
  <h4><i class="icon-class icon-cogwheel"></i>Options*</h4>
  <form>
    <div class="row">
      <div class="field-container box-info">
        <span>list of incl / additional options:*</span>
        <hr>
        <span>Delivery Confirmation*</span>
      </div>
      <button href="#" class="button color">
        <span>Set Option *</span>
      </button>
    </div>

    <div class="row">
      <div class="summery-container">
        <div class="field-container box-summery">
          <table>
            <tr>
              <td>Base Cost:*</td>
              <td>$ 22.49*</td>
            </tr>
            <tr>
              <td>Extra Services*</td>
              <td>$ 0.00*</td>
            </tr>
            <tr>
              <td>GST:*</td>
              <td>$ 0.90*</td>
            </tr>
            <tr>
              <td>PST:*</td>
              <td>$ 0.00*</td>
            </tr>
            <tr>
              <td>Total*</td>
              <td>$ 23.39*</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="submit-container">
        <div class="field-container box-lights">
          <div class="color red"></div>
          <div class="color yellow"></div>
          <div class="color green active"></div>
          <i class="icon-class icon-info-button"></i>
        </div>

        <button href="#" class="button submit">
          <span>Buy Label*</span>
        </button>
      </div>
    </div>
  </form>
</section>