<section class="sectiontemplate">
  <h4><i class="icon-class icon-cogwheel"></i>Options*</h4>
  <form>
    <div class="row">
      <div class="field-container box-option">
        <span *ngIf="selectedOptions.length <= 0">No option selected*</span>
        <span *ngIf="selectedOptions.length > 0">{{getDisplayOptions()}}</span>
      </div>
      <button class="button color"
              [disabled]="!(parcel && parcel.Price.Options.length <= 0)"
              (click)="modalOptionSelect.open()">
        <span>Set options*</span>
      </button>
    </div>

    <div class="row">
      <div class="summery-container">
        <div class="field-container box-summery">
          <table>
            <tr>
              <td>Base Cost:*</td>
              <td>$ 22.49*</td>
            </tr>
            <tr>
              <td>Extra Services*</td>
              <td>$ 0.00*</td>
            </tr>
            <tr>
              <td>GST:*</td>
              <td>$ 0.90*</td>
            </tr>
            <tr>
              <td>PST:*</td>
              <td>$ 0.00*</td>
            </tr>
            <tr>
              <td>Total*</td>
              <td>$ 23.39*</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="submit-container">
        <div class="field-container box-lights">
          <div class="color red"></div>
          <div class="color yellow"></div>
          <div class="color green active"></div>
          <i class="icon-class icon-info-button"></i>
        </div>

        <button class="button submit">
          <span>Buy Label*</span>
        </button>
      </div>
    </div>
  </form>
</section>

<modal #modalOptionSelect>
  <modal-header>
    <div class="row">
      <div class="col-md-12">
        <h4>Select options*</h4>
      </div>
    </div>
  </modal-header>
  <modal-body>
    <ul *ngIf="parcel && parcel.Price.Options">
      <li *ngFor="let option of parcel.Price.Options">
        <input #cb
               type="checkbox"
               (click)="selectOption(option, cb.checked)"/>
        {{option.Name}}
      </li>
    </ul>
  </modal-body>
  <modal-footer>
    <div class="row">
      <div class="col-sm-12">
        <button class="button popup"
                (click)="modalOptionSelect.close()">
          <span>save*</span>
        </button>
      </div>
    </div>
  </modal-footer>
</modal>