<section class="sectiontemplate">
  <h4><i class="icon-class icon-mailbox"></i>Recipient</h4>
  <form>
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="field-container text-field-search">
          <button class="search-submit">
            <span class="icon-search"></span>
          </button>
          <input type="text"
                 name="text-input"
                 placeholder="recipient">
          <button class="clear-submit">
            <span class="icon-close"></span>
          </button>
        </div>
        <div class="row autocomplete">
          <div class="col-md-12">
            <ul>
              <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
              <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
              <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
              <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
              <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="field-container text-field-search">
          <button class="search-submit">
            <span class="icon-search"></span>
          </button>
          <input type="text" name="text-input" value="" placeholder="text-placeholder">
          <button class="clear-submit">
            <span class="icon-close"></span>
          </button>
        </div>
        <div class="row autocomplete">
          <div class="col-md-12">
            <ul>
              <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
              <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
              <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
              <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
              <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="field-container box-icon">
          <button>
            <span class="icon-search"></span>
          </button>
        </div>
        <div class="field-container box-icon">
          <button>
            <span class="icon-plus"></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</section>