<section class="sectiontemplate">
  <h4><i class="icon-class icon-social"></i>Sender</h4>
  <form [ngFormModel]="sendersForm">
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="field-container text-field-search">
          <button class="search-submit">
            <span class="icon-search"></span>
          </button>
          <input type="text"
                 placeholder="sender"
                 ngControl="sender"
                 (keydown)="senderKeypress($event)">
          <button class="clear-submit"
                  (click)="sendersForm.controls['sender'].updateValue('');
                               sendersForm.controls['shippingPoint'].updateValue('')">
            <span class="icon-close"></span>
          </button>
        </div>

        <div class="row autocomplete"
             [class.open]="senderSuggestions.length > 0 && sendersForm.controls['sender'].value.length > 0">
          <div class="col-md-12">
            <ul>
              <li *ngFor="let sender of senderSuggestions"
                  (click)="selectSender(sender)">
                {{modelFormatter.addressDisplayInfo(sender)}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="field-container box-icon">
          <button>
            <span class="icon-search"></span>
          </button>
        </div>
        <div class="field-container box-icon">
          <button>
            <span class="icon-plus"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <label>
          <i class="icon-class icon-location"></i>
          Shipping Point
        </label>
      </div>
      <div class="col-md-4">
        <div class="field-container text-field">
          <input type="text"
                 name="text-input"
                 placeholder="shipping point"
                 ngControl="shippingPoint">
          <button class="clear-submit"
                  (click)="sendersForm.controls['shippingPoint'].updateValue('')">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</section>