<div class="row">
  <div class="col-md-6">
    <section class="sectiontemplate">
      <h4><i class="icon-class icon-social"></i>Sender</h4>
      <form [ngFormModel]="sendersForm">
        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <div class="field-container text-field-search">
              <button class="search-submit">
                <span class="icon-search"></span>
              </button>
              <input type="text"
                     placeholder="sender"
                     ngControl="sender"
                     (keydown)="senderKeypress($event)">
              <button class="clear-submit"
                      (click)="sendersForm.controls['sender'].updateValue('')">
                <span class="icon-close"></span>
              </button>
            </div>

            <div class="row autocomplete"
                 [class.open]="senderSuggestions.length > 0 && sendersForm.controls['sender'].value.length > 0">
              <div class="col-md-12">
                <ul>
                  <li *ngFor="let sender of senderSuggestions"
                      (click)="selectSender(sender)">
                    {{modelFormatter.addressDisplayInfo(sender)}}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="field-container box-icon">
              <button>
                <span class="icon-search"></span>
              </button>
            </div>
            <div class="field-container box-icon">
              <button>
                <span class="icon-plus"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-1">
            <label>
              <i class="icon-class icon-location"></i>
              Shipping Point
            </label>
          </div>
          <div class="col-md-4">
            <div class="field-container text-field">
              <input type="text"
                     name="text-input"
                     placeholder="shipping point"
                     ngControl="shippingPoint">
              <button class="clear-submit"
                      (click)="sendersForm.controls['shippingPoint'].updateValue('')">
                <span class="icon-close"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </section>

    <section class="sectiontemplate">
      <h4><i class="icon-class icon-mailbox"></i>Recipient</h4>
      <form>
        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <div class="field-container text-field-search">
              <button class="search-submit">
                <span class="icon-search"></span>
              </button>
              <input type="text"
                     name="text-input"
                     placeholder="recipient">
              <button class="clear-submit">
                <span class="icon-close"></span>
              </button>
            </div>
            <div class="row autocomplete">
              <div class="col-md-12">
                <ul>
                  <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
                  <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
                  <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
                  <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
                  <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <div class="field-container text-field-search">
              <button class="search-submit">
                <span class="icon-search"></span>
              </button>
              <input type="text" name="text-input" value="" placeholder="text-placeholder">
              <button class="clear-submit">
                <span class="icon-close"></span>
              </button>
            </div>
            <div class="row autocomplete">
              <div class="col-md-12">
                <ul>
                  <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
                  <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
                  <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
                  <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
                  <li><a href="#">sdfsdfsdf sdfsdfsdf sdfsdfsdf </a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="field-container box-icon">
              <button>
                <span class="icon-search"></span>
              </button>
            </div>
            <div class="field-container box-icon">
              <button>
                <span class="icon-plus"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </section>

    <section class="sectiontemplate">
      <h4><i class="icon-class icon-coins"></i>Cost Center</h4>
      <form>
        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <div class="field-container text-field-search">
              <button class="search-submit">
                <span class="icon-search"></span>
              </button>
              <input type="text" name="text-input" value="" placeholder="text-placeholder">
              <button class="clear-submit">
                <span class="icon-close"></span>
              </button>
            </div>
          </div>

          <div class="col-md-3">
            <div class="field-container box-icon">
              <button>
                <span class="icon-search"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <div class="field-container text-field-search">
              <button class="search-submit">
                <span class="icon-search"></span>
              </button>
              <input type="text" name="text-input" value="" placeholder="text-placeholder">
              <button class="clear-submit">
                <span class="icon-close"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <div class="field-container text-field-search">
              <button class="search-submit">
                <span class="icon-search"></span>
              </button>
              <input type="text" name="text-input" value="" placeholder="text-placeholder">
              <button class="clear-submit">
                <span class="icon-close"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </section>

    <section class="sectiontemplate">
      <h4><i class="icon-class icon-info"></i>Additional Information</h4>
      <form>
        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <div class="field-container text-field">
              <input type="text" name="text-input" value="" placeholder="text-placeholder">
              <button class="clear-submit">
                <span class="icon-close"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-1">
            <div class="field-container text-field">
              <input type="text" name="text-input" value="" placeholder="text-placeholder">
              <button class="clear-submit">
                <span class="icon-close"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </section>

  </div>

  <div class="col-md-6">
    <section class="product-calculation">
      <h4>Product Calculation</h4>
      <form [ngFormModel]="productCalculationForm" (ngSubmit)="recalculateProduct()">
        <div class="row">
          <div class="col-md-3">
            <div class="field-container text-field">
              <input type="text"
                     placeholder="weight"
                     ngControl="weight"
                     [class.error]="!productCalculationForm.controls['weight'].valid && productCalculationForm.controls['weight'].touched">
              <button class="clear-submit"
                      (click)="productCalculationForm.controls['weight'].updateValue('')">
                <span class="icon-close"></span>
              </button>
            </div>
          </div>

          <div class="col-md-1">
            <div class="field-container box-icon">
              <button>
                <span class="icon-weight"></span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="field-container text-field">
              <input type="text"
                     placeholder="length"
                     ngControl="length"
                     [class.error]="!productCalculationForm.controls['length'].valid && productCalculationForm.controls['length'].touched">
              <button class="clear-submit"
                      (click)="productCalculationForm.controls['length'].updateValue('')">
                <span class="icon-close"></span>
              </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="field-container text-field">
              <input type="text"
                     placeholder="width"
                     ngControl="width"
                     [class.error]="!productCalculationForm.controls['width'].valid && productCalculationForm.controls['width'].touched">
              <button class="clear-submit"
                      (click)="productCalculationForm.controls['width'].updateValue('')">
                <span class="icon-close"></span>
              </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="field-container text-field">
              <input type="text"
                     placeholder="height"
                     ngControl="height"
                     [class.error]="!productCalculationForm.controls['height'].valid && productCalculationForm.controls['height'].touched">
              <button class="clear-submit"
                      (click)="productCalculationForm.controls['height'].updateValue('')">
                <span class="icon-close"></span>
              </button>
            </div>
          </div>
          <div class="col-md-1">
            <div class="field-container box-icon">
              <button type="submit" [disabled]="!productCalculationForm.valid">
                <span class="icon-interface"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>