<div class="row">
  <div class="col-md-6">
    <fp-shipping-sender (onError)="error = $event"
                        (onSenderSelect)="sender = $event"
                        (onShippingPointSelect)="shippingPoint = $event"></fp-shipping-sender>

    <fp-shipping-recipient (onError)="error = $event"></fp-shipping-recipient>

    <fp-shipping-cost-center (onError)="error = $event"></fp-shipping-cost-center>

    <fp-shipping-additional-information (onError)="error = $event"></fp-shipping-additional-information>

  </div>

  <div class="col-md-6">
    <fp-shipping-product-calculation (onError)="error = $event"></fp-shipping-product-calculation>
  </div>
</div>