<section class="sectiontemplate">
  <h4><i class="icon-class icon-info"></i>Additional Information</h4>
  <form>
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="field-container text-field">
          <input type="text"
                 tabindex="8"
                 placeholder="text-placeholder">
          <button class="clear-submit">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="field-container text-field">
          <input type="text"
                 tabindex="9"
                 placeholder="text-placeholder">
          <button class="clear-submit">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</section>