<section class="sectiontemplate">
  <h4><i class="icon-class icon-coins"></i>Cost Center</h4>
  <form [ngFormModel]="costCenterForm">
    <div class="row">
      <div class="col-input">
        <div class="field-container text-field-search">
          <button class="search-submit">
            <span class="icon-search"></span>
          </button>
          <input type="text"
                 tabindex="5"
                 placeholder="cost-center level 1"
                 ngControl="costCenter1"
                 [fpSuggest]="mapCostCenter1(costCenterService)"
                 [fpSuggestEvents]="costCenter1Events">
          <button class="clear-submit"
                  (click)="clearCostCenter1()">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>

      <div class="row autocomplete"
           [class.open]="costCenter1Suggestions.length > 0 && costCenterForm.controls['costCenter1'].value.length > 0">
        <ul>
          <li *ngFor="let costCenter of costCenter1Suggestions"
              (click)="selectCostCenter1(costCenter)">
            {{modelFormatter.costCenterInfo(costCenter)}}
          </li>
        </ul>
      </div>

      <div class="col-button">
        <div class="field-container box-icon">
          <button>
            <span class="icon-search"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-input">
        <div class="field-container text-field-search">
          <button class="search-submit">
            <span class="icon-search"></span>
          </button>
          <input type="text"
                 tabindex="6"
                 placeholder="text-placeholder"
                 [disabled]="!costCenter1">
          <button class="clear-submit">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>
      <div class="col-button"></div>
    </div>

    <div class="row">
      <div class="col-input">
        <div class="field-container text-field-search">
          <button class="search-submit">
            <span class="icon-search"></span>
          </button>
          <input type="text"
                 tabindex="7"
                 placeholder="text-placeholder"
                 [disabled]="!costCenter1">
          <button class="clear-submit">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>
      <div class="col-button"></div>
    </div>
  </form>
</section>