<section class="sectiontemplate">
  <h4><i class="icon-class icon-coins"></i>Cost Center</h4>
  <form>
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="field-container text-field-search">
          <button class="search-submit">
            <span class="icon-search"></span>
          </button>
          <input type="text" name="text-input" value="" placeholder="text-placeholder">
          <button class="clear-submit">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>

      <div class="col-md-3">
        <div class="field-container box-icon">
          <button>
            <span class="icon-search"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="field-container text-field-search">
          <button class="search-submit">
            <span class="icon-search"></span>
          </button>
          <input type="text" name="text-input" value="" placeholder="text-placeholder">
          <button class="clear-submit">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <div class="field-container text-field-search">
          <button class="search-submit">
            <span class="icon-search"></span>
          </button>
          <input type="text" name="text-input" value="" placeholder="text-placeholder">
          <button class="clear-submit">
            <span class="icon-close"></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</section>